.imgSearchSliderSmall {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}
.slickFlexSearch {
  display: flex;
}

.custom-indicator li {
  width: 50px;
  height: 50px;
  filter: grayscale(100%);
}
.custom-indicator li.slick-active {
  filter: grayscale(0%);
}

.custom-indicator {
  bottom: -65px;
}
.recipeName {
  color: rgba(114, 63, 95, 0.9);
}
.mainSliderSearchDiv {
  display: flex;
  width: auto;
  height: 20rem;
  background: #e6e6e6;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 30rem;
  margin-top: 30px;
}
.secondSliderSearchDiv {
  display: flex;
  width: auto;
  margin: 0 10px 0 10px;
  align-items: center;
  justify-content: space-between;
}

.imgFeatures {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.recipeImgR {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
}
.featuredLink {
  margin-top: 1rem;

  text-align: center;
}
.nameDescription {
  padding-left: 20px;
}
.recipeName {
  font-size: 3rem;
  font-weight: 700;
}
.descriptionP {
  padding-top: 10px;
  line-height: 1.625;
  opacity: 0.75;
  font-size: 1.5rem;
}
.linkFeature:hover {
  background-color: rgba(114, 63, 95, 0.9);
  color: white;
  transition: all 0.5s linear;
}
.spanFeature {
  text-decoration: none;
  color: rgba(114, 63, 95, 0.9);
}

.featuredRecipe {
  font-weight: 700;
  font-size: 1.2rem;
  color: #a9a9a9;
}
.linkFeature span {
  font-size: 1.5rem;
  font-weight: 650;
}

.searchMoreRecipes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.5rem;
}

.fa-clipboard-list {
  display: flex;
  font-size: 30px;
  color: #fcb900;
  padding-top: 15px;
}
.searchMoreRecipes h1 {
  padding-left: 10px;
  font-weight: 900;
  color: rgba(114, 63, 95, 0.9);
}

.arrowBackBtn{
  align-items: center;
background-color: #fcb900;
color: #fff;
cursor: pointer;
display: flex;
height: 100px;
justify-content: center;
margin-left: 10px;
margin-right: 10px;
}
.arrowForwordBtn:hover {
  background-color: #000;
  box-shadow: 0 3px 10px #888;
}

@media (max-width: 550px) {
  .mainSliderSearchDiv {
    height: fit-content;
  }
  .secondSliderSearchDiv {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
  }
  .slickFlexSearch{
    align-items: center;
  }

  .imgFeatures {
    padding: 0px;
  }
  .recipeImgR {
    margin: 2rem 0 2rem 0;
  }
  .nameDescription {
    padding: 0;
  }
  .slick-track {
    height: fit-content !important;
  }
} ;
