.mainDivUserProfile {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  text-align: center;
}
.divFormReset {
  display: flex;
  padding-top: 30px;
  justify-content: space-around;
  background-color: #e6e6e6;
  margin-top: 30px;
}
.spanP p {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 10px 15px 10px;
}
.formReset {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin: 15px 15px;
}
.spanReset {
  width: 100%;
}
.spanReset span {
  font-size: 30px;
  font-weight: 700;
}
.formReset input {
  margin: 10px 10px 10px;
  width: 50rem;
  height: 40px;
  outline: none;
  border: none;
  text-align: center;
}
.gg {
  float: left;
  width: 10em;
  margin-right: 1em;
}

.formReset button {
  border: none;
  outline: none;
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-style: 14px;
  background: rgba(114, 63, 95, 0.9);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  width: 70%;
  margin-bottom: 10px;
}

.formReset button:hover {
  filter: brightness(85%);
}
