.footerMainDiv {
  width: 100%;
  height: 10rem;
  padding: 20px 20px 10px 20px;
}

.detailsFooter {
  display: flex;
  justify-content: space-between;
}

.termsBlog {
  display: flex;
}
/* https://webflow.com/blog/website-footer-design-examples?utm_source=google&utm_medium=search&utm_campaign=Google-Search-Dynamic-Search-Ads-Global-BBSS&utm_term=aud-520743546121:dsa-1729073405028___617245336990___ss_paid-bb&gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKKnoZgtTDYIB3aMyMEiU6OJtdNwKFzNiQMSqKAJuQLfNkSlvqrK8u8aApVQEALw_wcB */
