.recipeName {
  color: rgba(114, 63, 95, 0.9);
}
.section1 {
  display: flex;
  width: auto;
  height: 20rem;
  background: #e6e6e6;
  justify-content: center;
  height: 30rem;
 

}
.mainDiv{
  display: flex;
  width: 90rem;
  align-items: center;

}

.imgFeatures{
  padding-right: 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.recipeImgR {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
}
.featuredLink{
  margin-top: 1rem;

  text-align: center;
}
.nameDescription{
  padding-left: 20px;
}
.recipeName{
  font-size: 3rem;
 font-weight: 700;
}
.descriptionP{
  padding-top: 10px;
  line-height: 1.625;
  opacity: 0.75;
  font-size: 1.5rem;
}
.linkFeature:hover{
background-color: rgba(114, 63, 95, 0.9);
color: white;
transition: all 0.5s linear;
}
.spanFeature {
  text-decoration: none;
  color:rgba(114, 63, 95, 0.9);
}

.featuredRecipe{
  font-weight: 700;
  font-size: 1.2rem;
  color: #A9A9A9;
}
.linkFeature span{
font-size: 1.5rem;
font-weight: 650;
}