.head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 0rem 1rem;
}
.main_div {
  width: 86rem;
  align-self: center;
  padding: 0;
}

.logo {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: 600;
  font-size: 300%;
  cursor: pointer;
  color: rgba(114, 63, 95, 0.9) !important;
  text-decoration: none !important;
}

.logo:hover {
  color: #fcb900 !important;
}
.active {
  border-bottom: 3px solid rgba(114, 63, 95, 0.9);
  border-radius: 0;
  height: 69px;
  transform: translateX(0);
}

#collasible-nav-dropdown {
  color: black !important;
}
.containerNavBar {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dropdown {
  padding-top: 1.5rem;
  background-color: white;
  font-weight: 400;
}
.dropdown-toggle {
  text-transform: uppercase;
  padding: 5px;
  font-weight: 700;
  font-size: 18px;
}
.dropdown {
  padding-top: 17px;
}
.dropdown:active {
  border: none;
}
.dropdown-menu {
  transition: 0.2s linear;
  margin-top: 5px !important;
}
.dropdown-item {
  transition: 0.2s linear;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.border_b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.links {
  font-weight: 700;
  font-size: 18px;
  margin: 0 16px;
  padding-top: 25px;
  color: black !important;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.linksHeader {
  text-decoration: none !important;
  color: black;
}
.linksHeader:hover {
  text-decoration: none !important;
  color: black;
}

#collasible-nav-dropdown {
  text-align: center;
}

@media (max-width: 550px) {
  .navDrop {
    justify-content: center;
    align-items: center;
  }
  .dropdown-item {
    text-align: center;
  }
}
