.caruselPageDiv{
  justify-content: center;
}
.mainSliderDiv {
  display: flex;
  justify-content:space-around;
  margin-right: 10px;
  width: auto;
  height: 10rem;
}
.slider{
  justify-content:space-around!important;

}

.h1Div {
  padding-left: 10px;
}

.buttonsCaruselDiv {
  padding-right: 10px;
  display: flex;
}

.buttonCaruselPrev {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0 1px 3px rgb(0 0 0/100%);
  cursor: pointer;
  margin-right: 10px;
}
.buttonCaruselNext {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0 1px 3px rgb(0 0 0/100%);
  cursor: pointer;
  margin-right: 10px;
}

.sliderDiv{
  display: block;
  flex-direction: column;

  width: auto !important;
  justify-content: center;
  align-items: center;
}
.mainCaruselMap{
  width:100px !important; 
 height: fit-content;
 margin-bottom: 20px;
 text-align: center;
 justify-content: center;
 align-items: center;
 display: flex;
}


.imgCarusel{
  height: 200px;
  width: 200px;
  object-fit: contain;
   border-radius: 10px;
}
.carsuelRecipeName{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.carsuelRecipeName p{
  text-align: center;
  justify-content: center;
align-self: center;
}